<section class="header">
	<div class="logo"><img src="../img/ba-sho2.png" width="79"></div>
	<button ng-if="!btnHidden" class="btn btn-icon waves-effect" ng-click="sharpClick()"><i class="ic-sharp" ng-class="{ 'on' : sharpOn }"></i></button>
	<button ng-if="!btnHidden" class="btn btn-icon waves-effect"><i class="ic-home"></i></button>
</section>