<section class="nav">
	<nav>
		<div class="tit">{{navTitle}}</div>		
		<button class="btn btn-icon waves-effect" ng-click="goBack()"><i class="ic-back"></i></button>
		<button class="btn btn-icon nav-right-btn waves-effect" ng-click="rightClick()" ng-if="rightBtn"><i ng-class="rightBtn"></i></button>
	</nav>
</section>