<bs-nav nav-title="'답글달기'"></bs-nav>
<div class="container">
	<div class="ct">
		<ul class="bbs-lst">
			<li>
				<div class="bbs-row">
					<div class="bbs-req">
						<img class="bbs-person" src="../img/person.png">
						<div class="bbs-tc"> 
							<b>김경은</b>  
							<p>오늘 입금하면 언제 배송되나요? 월요일에 필요합니다.</p>  
						</div>
						<div class="bbs-pic">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
					</div>
					<div class="bbs-req-ft text-gray"><span class="text-primary">답변대기</span> | 2016-08-20 11:12</div>
				</div>
			</li>
		</ul>
		<div class="answer-bt bg-white">
			<div><a class=""><i class="ic-camera"></i></a></div>
			<div><div class="answer-ed-wrap"><textarea class="form-control answer-textarea" placeholder="답글달기..." auto-resize="18px" width-offset="104"></textarea></div></div>
		</div>
		
	</div>
</div> 