<div id="login-page" class="container">
	<div class="logo"><img src="../img/ba-sho.png" width="129px"></div>
	<form>
		<div class="input-group input-login">
			<div class="input-group-prepend">
				<i class="input-group-icon ic-person"></i>
			</div>
			<input type="text" class="form-control" placeholder="아이디" ng-model="input.id" ng-tirm="true">
		</div>
		<div class="input-group input-login">
			<div class="input-group-prepend">
				<i class="input-group-icon ic-lock"></i>
			</div>
			<input type="password" class="form-control" placeholder="비밀번호" ng-model="input.password" ng-tirm="true">
		</div>

		<button class="btn btn-bw1 waves-effect" ng-click="loginClick()">로그인</button>
		<button class="btn btn-bw2 waves-effect" ui-sref="Reg">가입하기</button>
		<p class="fd-pw">비밀번호를 잊으셨나요?<a ui-sref="PasswordFind">찾기</a></p>
	</form>

</div>