<bs-nav nav-title="'고객센터'"></bs-nav>
<div class="container">
	<div class="ct no-ma">
		<div class="pa16">
			<button class="btn btn-bw3 waves-effect" ui-sref="CustomerWrite">문의하기</button>
		</div>
		<div class="csm-lst">
			<ul>
				<li ng-repeat="item in datas" ng-class="{ open : item.open }">
					<a class="csm-desc waves-effect" ng-click="rowClick($event,item)">
						<div class="fs14 text-ellipsis">결제관련 질문입니다. 취소시 환불해주세요~~~</div>
						<div>
							<img class="round" src="../img/_temp/person.png">
							<span class="fs12 text-gray">답변중비중</span>
						</div>
					</a>
					<div class="csm-det ">
						<div class="csm-req clearfix">
							<img class="round pull-left" src="../img/_temp/person.png">
							<div class="pull-left">
								<div class="fs12 text-white">2018.10.27 13:49</div>
								<div class="fs14 mt5">안녕하세요 윙샵 입니다.😭<br>고객 주문시 고객님의 주소가 검색되지 않는 지역이 있어 업데이트 요청드립니다.</div>
							</div>
						</div>
						<div class="csm-resp clearfix">
							<img class="round pull-right" src="../img/_temp/person.png">
							<div class="pull-right">
								<div class="fs12 text-white">강은영 팀장<span class="divide primary">|</span>2018.10.27 13:49</div>
								<div class="fs14 mt5">안녕하세요 윙샵 입니다.😭<br>고객 주문시 고객님의 주소가 검색되지 않는 지역이 있어 업데이트 요청드립니다.</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>