<bs-nav nav-title="'고객센터'"></bs-nav>
<div class="container" id="customer-write">
	<div class="ct bg-white">
		<div class="pa16">
			<material-input in-label="제목" in-model="input.title.value" ng-class="input.title.valid" in-type="text"></material-input>
			<p class="form-help danger mb10" ng-if="input.title.valid == 'fail'">{{input.title.error}}</p>				
	 		<textarea class="form-control form-bw" placeholder="무엇이 궁금하신가요?"></textarea>
	 		<div class="file-lst mt10">
	 			<ul>
	 				<li class="text-ellipsis">IMG_001.JPG<a><i class="ic-trash"></i></a></li>
	 				<li class="text-ellipsis">IMG_001.JPG<a><i class="ic-trash"></i></a></li>
	 			</ul>
	 		</div>
	 		<button class="btn btn-file waves-effect mt10">첨부파일 추가<i class="ic-clip"></i></button>
	 		<button class="btn btn-bw3 mt10 waves-effect" ng-click="confirmClick()">확인</button>
 		</div>
	</div>
</div>