<div class="lightbox">
  <a ng-click="back()"><i class="ic-dismiss"></a>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ng-repeat="img in imgs track by $index"><img ng-src="{{img}}"></div>
    </div>
	<div class="swiper-button-next"><i class="ic-left-light"></i></div>
	<div class="swiper-button-prev"><i class="ic-right-light"></i></div>    
  </div>

</div>