<bs-header sharp-click="hl.sharpOpened=!hl.sharpOpened" sharp-on="hl.sharpOpened"></bs-header>
<nav class="tab-category">
	<ul>
		<li ng-class="{ active : hl.tab == 'prd'}"><a class="waves-effect" ng-click="hl.tab='prd'"><span>상품</span></a></a></li>
		<li ng-class="{ active : hl.tab == 'ord'}"><a class="waves-effect" ng-click="hl.tab='ord'"><span>주문</span></a></li>
		<li ng-class="{ active : hl.tab == 'mbr'}"><a class="waves-effect" ng-click="hl.tab='mbr'"><span>회원</span></a></li>
		<li ng-class="{ active : hl.tab == 'cfg'}"><a class="waves-effect" ng-click="hl.tab='cfg'"><span>설정</span></a></li>
	</ul>
</nav>
<tab-product	ng-if="hl.tab == 'prd'"></tab-product>
<tab-order		ng-if="hl.tab == 'ord'"></tab-order>
<tab-member		ng-if="hl.tab == 'mbr'"></tab-member>
<tab-setting 	ng-if="hl.tab == 'cfg'"></tab-setting>
<div class="sharp-main-lst animated faster" ng-show="hl.sharpOpened">
	<ul class="animated faster">
		<li><a class="waves-effect">패션삭스</a></li>
		<li><a class="waves-effect">스커트</a></li>
		<li><a class="waves-effect">데일리슈즈</a></li>
		<li><a class="waves-effect">핸드메이드</a></li>
		<li><a class="waves-effect">슬렉스</a></li>
		<li><a class="waves-effect">원피스</a></li>
		<li><a class="waves-effect">첼시부츠</a></li>
		<li><a class="waves-effect">클러치백</a></li>
		<li><a class="waves-effect">앙고라니트</a></li>
		<li><a class="waves-effect">아이폰케이스</a></li>
	</ul>
</div>
