<bs-nav nav-title="'문의'"></bs-nav>
<div class="container">
	<div class="ct">
		<ul class="ord-lst">
			<li>
				<div class="ord-row">
					<a class="bg-arrow" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
			<li>
				<div class="ord-row">
					<a class="bg-arrow" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
			<li>
				<div class="ord-row">
					<a class="bg-arrow" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>