<bs-nav nav-title="'회원정보'" right-btn="ic-tel" right-click="hl.telClick()"></bs-nav>
<div class="container">
	<div class="ct">
		<div class="mbr-pro-box">
			<img class="round" src="../img/_temp/person.png"/>
			<div class="mt16 fs15"><b>강동원</b></div>
			<div class="fs12 mt2 text-gray d-block">pascman@wisa.co.kr</div>
		</div>
		<div class="dl-lst clearfix">
			<dl>
				<dt>성별/나이</dt>
				<dd>남/27세</dd>
				<dt>생년월일</dt>
				<dd>1989년 3월 16일</dd>
				<dt>연락처</dt>
				<dd>010-1234-5678</dd>
				<dt>주소</dt>
				<dd>(15333)<br>서울 강남구 논현동 268-17 윙갤러리빌딩</dd>
				<dt>가입일</dt>
				<dd>2016/12/20 13:24</dd>
				<dt>주문내역</dt>
				<dd><b>3</b>건<a class="waves-effect text-dgray pull-right fs14" ui-sref="MemberOrder">상세보기<i class="ic-arrow-up r90"></i></button></dd>
			</dl>
		</div>		 
	</div>
</div>  