<bs-nav nav-title="'푸쉬 알림'"></bs-nav>
<div class="container">
	<div class="ct bg-white">
		<div class="menu-sw-lst">
			<ul>
				<li>
					<h5 class="fs14">주문알림<h5>
					<h6 class="fs12 text-gray">주문이 들어올때마다 알림을 받습니다.<h6>
					<div class="switch-wrap">
						<input type="checkbox" id="order-chk" name="order-chk" class="switch-input">
						<label for="order-chk" class="switch-label"></label>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<h5 class="fs14">문의 알림<h5>
					<h6 class="fs12 text-gray">고객문의가 작성될 때 알림을 받습니다.<h6>
					<div class="switch-wrap">
						<input type="checkbox" id="req-chk" name="req-chk" class="switch-input">
						<label for="req-chk" class="switch-label"></label>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<h5 class="fs14">후기 알림<h5>
					<h6 class="fs12 text-gray">상품후기가 작성될 때 알림을 받습니다.<h6>
					<div class="switch-wrap">
						<input type="checkbox" id="review-chk" name="review-chk" class="switch-input">
						<label for="review-chk" class="switch-label"></label>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<h5 class="fs14">공지 알림<h5>
					<h6 class="fs12 text-gray">새로운 소식에 대한 알림을 받습니다.<h6>
					<div class="switch-wrap">
						<input type="checkbox" id="notice-chk" name="notice-chk" class="switch-input">
						<label for="notice-chk" class="switch-label"></label>
					</div>
				</li>
			</ul>

		</div>
		

	</div>
</div>