<bs-nav nav-title="orderCode"></bs-nav>
<div class="container">
	<div class="ct">
		<div class="box bg-white bt0">
			<div class="box-hd ">
				<h4>주문 상품</h4>
				<div class="box-hd-op">
					<span>배송중</span><span class="divide">|</span><button class="btn waves-effect" ng-click="statOpen=!statOpen">상태변경<i class="anim anim-quick ic-arrow-up ml8" ng-class="{ r180 : statOpen}"></i></button>					
				</div>
			</div>
			<div class="box-ct clearfix">
				<div class="ord-stat-frm" ng-hide="!statOpen">
					<select class="form-control">
						<option>배송중</option>
						<option>배송완료</option>
					</select>
					<span class="vline"></span>
					<button class="btn btn-bw3">변경적용</button>
				</div>
				<ul class="ord-lst-sm">
					<li class="ord-row">
						<img src="../img/_temp/bbs1.png">
						<div class="ord-rt"> 
							<div class="ord-tit text-ellipsis">센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서....</div>
							<div class="ord-prd">￦65,000</div>
						</div>
					</li>
					<li class="ord-row">
						<img src="../img/_temp/bbs1.png">
						<div class="ord-rt"> 
							<div class="ord-tit text-ellipsis">센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서센스의 한끗 차이는 삭스에서....</div>
							<div class="ord-prd">￦65,000</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="box-ft">
				<div class="pull-left">총급액</div>
				<div class="pull-right">￦130,000</div>
			</div>
		</div>
		<div class="box bg-white mt7">
			<div class="box-hd">
				<h4>배송 정보</h4>
			</div> 
			<div class="box-ct clearfix">
				<dl>
					<dt>받은사람</dt>
					<dd><a class="bg-arrow text-dgray d-block waves-effect" ui-sref="MemberDetail">강동원(pascman@wisa.co.kr)</a></dd>
					<dt>연락처</dt>
					<dd>010-1234-5678</dd>
					<dt>배송지</dt>
					<dd>(15555)<br>서울 강남구 논현동 268-17<br>윙갤러리 빌딩 4층</dd>
					<dt>배송메모</dt>
					<dd>빠른 배송 부탁드립니다.</dd>
				</dl>
			</div>
		</div>	
		<div class="box bg-white mt7">
			<div class="box-hd">
				<h4>결제 정보</h4>
			</div> 
			<div class="box-ct">	
				<dl>
					<dt>주문일시</dt>
					<dd>2017-01-01 11:55:42</dd>
					<dt>결제방법</dt>
					<dd>가상계좌<br>신한 12345-67-89848 주대호</dd>
					<dt>수취확인일시</dt>
					<dd>수취 확인을 하지 않았습니다.</dd>
				</dl>
			</div>			
		</div>	
	</div>
</div> 