<bs-nav nav-title="'비밀번호 변경'"></bs-nav>
<div class="container">
	<div class="ct bg-white">
		<div class="pa16">
			<material-input in-label="기존 비밀번호" in-type="password" in-model="input.oldpwd.value" ng-class="input.oldpwd.valid"></material-input>
			<p class="form-help danger mb10" ng-if="input.oldpwd.valid == 'fail'">{{input.oldpwd.error}}</p>
			<material-input in-label="새 비밀번호" in-type="password" in-model="input.newpwd.value" ng-class="input.newpwd.valid"></material-input>
			<p class="form-help danger mb10" ng-if="input.newpwd.valid == 'fail'">{{input.newpwd.error}}</p>
			<material-input in-label="비밀번호 확인" in-type="password" in-model="input.newpwd_cfm.value" ng-class="input.newpwd_cfm.valid"></material-input>
			<p class="form-help danger mb10" ng-if="input.newpwd_cfm.valid == 'fail'">{{input.newpwd_cfm.error}}</p>
			<button class="btn btn-bw3 mt3 waves-effect" ng-click="confirm()">확인</button>
 		</div>
	</div>
</div>