<bs-header btn-hidden="true"></bs-header>
<bs-nav nav-title="'비밀번호찾기'"></bs-nav>
<div class="container" ng-if="hl.step == 1">
	<div class="ct bg-white pa16">
		<div class="pa16">
			<section class="text-center">
				<div class="round mt17"><img src="../img/ic_phone_b.png" width="30"></div>
			</section>		
			<div class="radio mt30 mb20">
				<label><input type="radio" name="findType" value="email" ng-model="hl.input.findType">이메일로 찾기<i class="dummy"></i></label>
				<label><input type="radio" name="findType" value="phone" ng-model="hl.input.findType">휴대폰 번호로 찾기<i class="dummy"></i></label>
			</div>
			<section ng-if="hl.input.findType == 'phone'">
				<div class="material-input type-sms" ng-class="hl.input.phone.valid">
					<input type="phone" required ng-model="hl.input.phone.value" ng-trim="true" ng-disabled="hl.sendedSMS">
					<span class="highlight"></span><span class="bar"></span>
					<label>'-'없이 번호를 입력하세요.</label>
					<button class="btn btn-text waves-effect" ng-click="hl.sendSMS()">{{hl.sendedSMS ? '재전송' : '인증번호 발송'}}</button>
				</div>		
				<p class="form-help danger mb10" ng-if="hl.input.phone.valid == 'fail'">{{hl.input.phone.error}}</p>
				<material-input in-label="인증번호를 입력하세요" in-model="hl.input.number.value" ng-class="hl.input.number.valid" in-type="number" ng-if="hl.sendedSMS"></material-input>
				<p class="form-help danger mb10" ng-if="hl.input.number.valid == 'fail' && hl.sendedSMS">{{hl.input.number.error}}</p>
			</section>
			<section ng-if="hl.input.findType == 'email'">
				<material-input in-label="이메일" in-model="hl.input.email.value" ng-class="hl.input.email.valid" in-type="text"></material-input>
				<p class="form-help danger mb10" ng-if="hl.input.email.valid == 'fail'">{{hl.input.email.error}}</p>
			</section>
	 		<button class="btn btn-bw3 mt3 waves-effect" ng-click="hl.confirmClick()">확인</button>
 		</div>
	</div>
</div>
<div class="container" ng-if="hl.step == 2">
	<div class="ct bg-white pa16">
		<section class="text-center">
			<div class="round mt17"><img src="../img/ic_lock_b.png" width="34"></div>
			<p class="fw700 mt35 fs14">변경된 임시 비밀번호를<br>
				<span class="text-primary">ceo@wisa.co.kr</span>로 발송하였습니다.
			</p>
			<p class="mt10 mb40 fs15">로그인 후 원하시는 비밀번호를 변경해주세요.</p>	
		</section>		
		<button class="btn btn-bw3 mt3 waves-effect" ng-click="hl.loginClick()">로그인</button>
	</div>
</div>

