<bs-nav nav-title="'사진편집'" right-btn="ic-complete" right-click="hl.onComplete()"></bs-nav>
<div class="container">
	<div class="ct bg-white">
		<div class="photo-lst">
			<ul>
				<li 
					class="photo-row"
					ng-repeat="item in hl.photo track by $index"
					data-drag="true" 
					data-jqyoui-options="{revert: 'invalid' , opacity : 0.8 , scrollSpeed : 20 ,  containment : 'window'}"
					jqyoui-draggable="{index: {{$index}},animate:true}"
					ng-model="hl.photo"
					data-drop="true" ng-model='hl.photo' jqyoui-droppable="{index: {{$index}}}"
					>
					<img ng-src="{{item}}">
					<a class="btn btn-close" ng-click="hl.photo.splice($index,1)"><i class="ic-close"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div> 
 