<bs-nav class="text-btn-nav" nav-title="'상품등록'" right-btn="ic-complete" right-click="hl.onComplete()"></bs-nav>
<div class="container" id="prd-reg">
	<div class="ct bg-white">
		<div class="preg-body">
			<div class="prd-usr mt13 mb20">
				<i class="thumb-round"></i>
				<div class="brand">
					<span class="brand-nm text-ellipsis">Ch.K</span>
					<span class="brand-date">12월 25일 오후 6:05분</span>
				</div>
			</div>			
			<textarea class="form-control form-bw prd-reg-textarea" placeholder="등록하실 상품의 설명글을 적어주세요" auto-resize="18px"></textarea>
			<div class="prd-tag">#패션삭스 #디즈니 컬렉션</div>
			<div class="prd-img img-4">	
				<img src="../img/_temp/prd1.png" ng-click="hl.goPhotoEditor()">
				<img src="../img/_temp/prd1.png" ng-click="hl.goPhotoEditor()">
				<img src="../img/_temp/prd1.png" ng-click="hl.goPhotoEditor()">
				<img src="../img/_temp/prd1.png" ng-click="hl.goPhotoEditor()">
			</div>
			<div class="preg-price">
				<input class="form-control form-bw" type="number" name="" placeholder="가격을 입력해주세요.">
			</div>
		</div>
		<div class="preg-bottom">
			<ul>
				<li class="waves-effect" ng-click="hl.onFileUpload('camera')"><a class="camera">촬영</a></li>
				<li class="waves-effect" ng-click="hl.onFileUpload('album')"><a class="album">앨범</a></li>
				<li class="waves-effect" ng-click="hl.onTag()"><a class="sharp">태그</a></li>
			</ul>
		</div>
	</div>
	<modal-tag modal-value="hl.modal"></modal-tag>
</div> 
