<bs-header btn-hidden="true"></bs-header>
<bs-nav nav-title="'가입하기'"></bs-nav>
<div class="container" ng-if="hl.step == 1">
	<div class="ct bg-white">
		<div class="pa16">
			<material-input in-label="이름" in-model="hl.input.name.value" ng-class="hl.input.name.valid"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.name.valid == 'fail'">{{hl.input.name.error}}</p>
			<material-input in-label="이메일" in-model="hl.input.email.value" ng-class="hl.input.email.valid" in-type="text"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.email.valid == 'fail'">{{hl.input.email.error}}</p>
			<material-input in-label="휴대폰(-없이 입력)" in-model="hl.input.phone.value" ng-class="hl.input.phone.valid" in-type="phone"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.phone.valid == 'fail'">{{hl.input.phone.error}}</p>
			<material-input in-label="비밀번호" in-type="password" in-model="hl.input.password.value" ng-class="hl.input.password.valid"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.password.valid == 'fail'">{{hl.input.password.error}}</p>
	 		<button class="btn btn-bw3 mt3 waves-effect" ng-click="hl.nextStep1()">쇼핑몰 무료세팅</button>
 		</div>
	</div>
</div>
<div class="container" ng-if="hl.step == 2">
	<div class="ct bg-white pl16 pr16">
		<div class="pa16">
			<material-input in-label="쇼핑몰ID(영어로 입력해주세요)" in-model="hl.input.shopId.value" ng-class="hl.input.shopId.valid"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.shopId.valid == 'fail'">{{hl.input.shopId.error}}</p>
			<material-input in-label="회사명 또는 쇼핑몰명" in-model="hl.input.companyNm.value" ng-class="hl.input.companyNm.valid"></material-input>
			<p class="form-help danger mb10" ng-if="hl.input.companyNm.valid == 'fail'">{{hl.input.companyNm.error}}</p>
			<p class="form-help primary">ID.xxxx.com으로 쇼핑몰이 자동생성됩니다.</p>

			<div class="checkbox large mb25">
				<label>
					<input type="checkbox" ng-change="hl.allChange()" ng-model="hl.input.agreeAll">아래의 내용에 모두 동의합니다.
					<i class="xi-check"></i>
				</label>
			</div>
			<div class="checkbox mb10">
				<label>
					<input type="checkbox" ng-change="hl.agreeChange()" ng-model="hl.input.agree1">이용약관 동의
					<i class="xi-check"></i>
				</label>
				<a class="view-link mt4" href="#">보기</a>
			</div>
			<div class="checkbox mb10">
				<label>
					<input type="checkbox" ng-change="hl.agreeChange()" ng-model="hl.input.agree2">호스팅통합약관 동의
					<i class="xi-check"></i>
				</label>
				<a class="view-link mt4" href="#">보기</a>
			</div>
			<div class="checkbox mb10">
				<label>
					<input type="checkbox" ng-change="hl.agreeChange()" ng-model="hl.input.agree3">개인정보 수신 이용동의
					<i class="xi-check"></i>
				</label>
				<a class="view-link mt4" href="#">보기</a>
			</div>
			<div class="checkbox mb10">
				<label>
					<input type="checkbox" ng-change="hl.agreeChange()" ng-model="hl.input.agree4">이메일 수신동의
					<i class="xi-check"></i>
				</label>
			</div>
			<div class="checkbox mb35">
				<label>
					<input type="checkbox" ng-change="hl.agreeChange()" ng-model="hl.input.agree5">SMS 수신동의
					<i class="xi-check"></i>
				</label>
			</div>

	 		<button class="btn btn-bw3 mt3 clearfix waves-effect" ng-click="hl.nextStep2()">입력완료</button>
 		</div>
	</div>
</div>

<div class="container" ng-if="hl.step == 3">
	<div class="ct bg-white pl16 pr16">
		<div class="pa16">
			<section class="text-center">
				<div class="round mt17"><img src="../img/ic_home_b.png" width="44"></div>
				<p class="fw700 mt25 fs17">축하합니다.</p>
				<p class="mt20 mb40">강윤성님의 쇼핑몰이 생성되었습니다.<br>
					로그인 후 쇼핑몰 관리를 시작해보세요!<br>
					내 쇼핑몰 주소 : <span class="text-primary">ID.xxxx.com</span>
				</p>
			</section> 
			<button class="btn btn-bw3 mt3 clearfix waves-effect" ng-click="hl.nextStep3()">확인</button>
		</div>
	</div>
</div>
