<bs-nav nav-title="'문의'"></bs-nav>
<div class="container">
	<div class="ct">
		<ul class="bbs-lst">
			<li>
				<div class="bbs-row">
					<div class="bbs-req">
						<img class="bbs-person round" src="../img/_temp/bbs1.png">
						<div class="bbs-tc"> 
							<b>김경은</b>  
							<p>오늘 입금하면 언제 배송되나요? 월요일에 필요합니다.</p>  
						</div>
						<div class="bbs-pic">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
					</div>
					<div class="bbs-req-ft text-gray"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp">
						<div class="bbs-tc"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>												
		</ul>
	</div>
</div> 
