<bs-nav nav-title="'쇼핑몰 정보'"></bs-nav>
<div class="container">
	<div class="ct bg-white">
		<div class="pa16">
			<material-input in-label="쇼핑몰명" in-type="text" in-model="input.name.value" ng-class="input.name.valid"></material-input>
			<p class="form-help danger mb10" ng-if="input.name.valid == 'fail'">{{input.name.error}}</p>
			<button class="btn btn-bw3 mt3 waves-effect" ng-click="confirm()">확인</button>
 		</div>
	</div>
</div>