<div class="container">
	<div class="ct">
		<div class="top-stat">
			<ul>
				<li ng-class="{active : memberTab == 'mbr'}"><a class="waves-effect" ng-click="memberTab='mbr'">회원정보<br/><b>9</b><span>명</span></a></li>
				<li ng-class="{active : memberTab == 'req'}"><a class="waves-effect" ng-click="memberTab='req'">1:1문의<br/><b>9</b><span>건</span></a></li>
				<li ng-class="{active : memberTab == 'preq'}"><a class="waves-effect" ng-click="memberTab='preq'">상품문의<br/><b>9</b><span>명</span></a></li>
				<li ng-class="{active : memberTab == 'rev'}"><a class="waves-effect" ng-click="memberTab='rev'">상품후기<br/><b>9</b><span>건</span></a></li>
			</ul>
		</div>
		<hr class="bline">
		<ul class="mbr-lst" ng-if="memberTab == 'mbr'">
			<li class="mbr-row">
				<a class="bg-arrow waves-effect" ui-sref="MemberDetail">
					<img class="round" src="../img/_temp/person.png">
					<div class="mbr-rt">
						<div class="mbr-nm text-ellipsis"><b>강동원</b><span>(pascman@wisa.co.kr)</span></div>
						<div class="mbr-pro">남<span class="divide">|</span>27세<span class="divide">|</span>2016년 12월 25일</div>
					</div>	
				</a>
			</li>
			<li class="mbr-row">
				<a class="bg-arrow waves-effect" ui-sref="MemberDetail">
					<img class="round" src="../img/_temp/person.png">
					<div class="mbr-rt">
						<div class="mbr-nm text-ellipsis"><b>강동원</b><span>(pascman@wisa.co.kr)</span></div>
						<div class="mbr-pro">남<span class="divide">|</span>27세<span class="divide">|</span>2016년 12월 25일</div>
					</div>	
				</a>
			</li>
			<li class="mbr-row">
				<a class="bg-arrow waves-effect" ui-sref="MemberDetail">
					<img class="round" src="../img/_temp/person.png">
					<div class="mbr-rt">
						<div class="mbr-nm text-ellipsis"><b>강동원</b><span>(pascman@wisa.co.kr)</span></div>
						<div class="mbr-pro">남<span class="divide">|</span>27세<span class="divide">|</span>2016년 12월 25일</div>
					</div>	
				</a>
			</li>
			<li class="mbr-row">
				<a class="bg-arrow waves-effect" ui-sref="MemberDetail">
					<img class="round" src="../img/_temp/person.png">
					<div class="mbr-rt">
						<div class="mbr-nm text-ellipsis"><b>강동원</b><span>(pascman@wisa.co.kr)</span></div>
						<div class="mbr-pro">남<span class="divide">|</span>27세<span class="divide">|</span>2016년 12월 25일</div>
					</div>	
				</a>
			</li>
		</ul>

		<ul class="bbs-lst" ng-if="memberTab=='req'">
			<li>
				<div class="bbs-row no-req">
					<div class="bbs-req">
						<div class="bbs-tc pl0 pr0"> 
							<b><span class="text-red">[취소]</span>20180323-1130C</b>  
							<p>입금했는데 주문 취소하고 싶습니다.</p>  
						</div>
					</div>
					<div class="bbs-req-ft text-gray pl0"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp pl50">
						<div class="bbs-tc pl0"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft pl0 text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>
			<li>
				<div class="bbs-row">
					<div class="bbs-req">
						<div class="bbs-tc pl0 pr0"> 
							<b><span class="text-blue">[주문]</span>20180323-1130C</b>  
							<p>입금했는데 주문 취소하고 싶습니다.</p>  
						</div>
					</div>
					<div class="bbs-req-ft text-gray pl0"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp pl50">
						<div class="bbs-tc pl0"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft pl0 text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>					
		</ul>

		<ul class="bbs-lst" ng-if="memberTab=='preq'">
			<li>
				<div class="bbs-row no-req">
					<div class="bbs-req">
						<img class="bbs-person round" src="../img/_temp/bbs1.png">
						<div class="bbs-tc"> 
							<b>김경은</b>  
							<p>오늘 입금하면 언제 배송되나요? 월요일에 필요합니다.</p>  
						</div>
						<div class="bbs-pic">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
					</div>
					<div class="bbs-req-ft text-gray"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp">
						<div class="bbs-tc"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>			
			<li>
				<div class="bbs-row">
					<div class="bbs-req">
						<img class="bbs-person round" src="../img/_temp/bbs1.png">
						<div class="bbs-tc"> 
							<b>김경은</b>  
							<p>오늘 입금하면 언제 배송되나요? 월요일에 필요합니다.</p>  
						</div>
						<div class="bbs-pic">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
					</div>
					<div class="bbs-req-ft text-gray"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp">
						<div class="bbs-tc"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>			
		</ul>


		<ul class="bbs-lst" ng-if="memberTab=='rev'">
			<li>
				<div class="bbs-row">
					<div class="bbs-req">
						<img class="bbs-person round" src="../img/_temp/bbs1.png">
						<div class="bbs-tc"> 
							<b>김경은</b>  
							<p>오늘 입금하면 언제 배송되나요? 월요일에 필요합니다.</p>  
						</div>
						<div class="bbs-pic">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
					</div>
					<div class="bbs-req-ft text-gray"><span class="text-primary">답변완료</span><span class="divide">|</span>2016-08-20 11:12<span class="divide">|</span><a class="text-gray" ui-sref="Answer">답글달기</a></div>
					<div class="bbs-resp">
						<div class="bbs-tc"> 
							<b>Ch.K</b>  
							<p>오늘1시전에 입금하시면 월요일에 배송됩니다.^^</p>  
						</div>
						<div class="bbs-resp-ft text-gray">2016-08-20 11:12</div>
					</div>					
				</div>
			</li>				
		</ul>
	</div>
</div>