<div class="container">
	<div class="ct">
		<div class="top-stat">
			<ul>
				<li ng-class="{active : orderTab == '1'}"><a class="waves-effect" ng-click="orderTab='1'">미입금<br/><b>9</b><span>건</span></a></li>
				<li ng-class="{active : orderTab == '2'}"><a class="waves-effect" ng-click="orderTab='2'">입금완료<br/><b>9</b><span>건</span></a></li>
				<li ng-class="{active : orderTab == '3'}"><a class="waves-effect" ng-click="orderTab='3'">상품준비<br/><b>9</b><span>건</span></a></li>
				<li ng-class="{active : orderTab == '4'}"><a class="waves-effect" ng-click="orderTab='4'">배송중<br/><b>9</b><span>건</span></a></li>
				<li ng-class="{active : orderTab == '5'}"><a class="waves-effect" ng-click="orderTab='5'">배송완료<br/><b>9</b><span>건</span></a></li>
			</ul>
		</div>
		<hr class="bline">
		<ul class="ord-lst">
			<li>
				<div class="ord-row">
					<a class="bg-arrow waves-effect" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
			<li>
				<div class="ord-row">
					<a class="bg-arrow waves-effect" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
			<li>
				<div class="ord-row">
					<a class="bg-arrow waves-effect" ui-sref="OrderDetail">
						<div class="ord-lt">
							<div class="img-wrapper many">
								<img src="../img/_temp/bbs1.png">
								<div class="dim"></div>
								<span class="img-cnt">+3</span>
							</div>
						</div>
						<div class="ord-rt">
							<div class="ord-stat">미입금</div>
							<div class="ord-num">20161223-770ED</div>
							<div class="ord-prd">￦ 65,000(1개)</div>
							<div class="ord-ft">주대호(<span class="usr-id">pascmanssdsdsdssdsdsdsdsd</span>)<span class="divide">|</span>7월9일</div>
						</div> 
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>