<div class="container">
	<div class="ct">
		<a class="prd-reg bg-arrow waves-effect" ui-sref="ProductReg">
			<i class="thumb-round"></i>
			<span>등록하실 상품이 있으신가요</span>
		</a>
		<ul class="prd-lst mt6">
			<li>
				<div class="prd-row">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-1 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img>
						<img>
						<img>
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a class="waves-effect" ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a class="waves-effect" ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>


				<div class="prd-row">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-2 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img>
						<img>
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>



				<div class="prd-row">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-3 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img>
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>


				<div class="prd-row">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-4 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>

				<div class="prd-row sold-out">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-4 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>

				<div class="prd-row sold-out">
					<div class="prd-usr">
						<i class="thumb-round"></i>
						<div class="brand">
							<span class="brand-nm text-ellipsis">Ch.K</span>
							<span class="brand-date">12월 25일 오후 6:05분</span>
						</div>
						<a class="prd-menu"><i class="ic-menu"></i></a>
					</div>
					<div class="prd-contents">센스의 한끗 차이는 삭스에서! 삭스어필 디즈니 클래식컬렉션! 판매가 기준 70% 세일(~1/16)😆</div>
					<div class="prd-tag">#패션삭스 #디즈니클래식컬렉션<a>...더보기</a></div>
					<div class="prd-img img-4 mt7">	
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
						<img src="../img/_temp/prd1.png" ng-click="hl.imgClick()">
					</div>
					<div class="prd-ft">
						<div class="prd-fc">
							<a ui-sref="Request"><i class="ic-talk"></i>3</a>
							<a ui-sref="Review"><i class="ic-pen"></i>3</a>
						</div>
						<div class="prd-price">￦100,000</div>
					</div>
					<div class="prd-stat">
						<ul>
							<li><i class="ic-won"></i><b>구매 1</b></li>
							<li><i class="ic-cart"></i><b>장바구니 0</b></li>
							<li><i class="ic-wish"></i><b>찜 1</b></li>
						</ul>
					</div>
				</div>

			</li>
		</ul>

	</div> 
</div>