<div class="container">
	<div class="ct">
		<div class="cfg-pro-box">
			<div class="img-wrapper round waves-effect">
				<img src="../img/_temp/person.png"/>
				<div class="dim"></div>
				<i class="ic-camera-w"></i>
			</div> 
			<div class="fs15 mt12 text-gray d-block">basho.com/Ch.k</div>
		</div>
		<div class="menu-lst">
			<ul>
				<li class="bg-arrow"><a class="waves-effect" ui-sref="ShopName"><i class="ic-home-m"></i>쇼핑몰정보</a></li>
				<li class="bg-arrow"><a class="waves-effect" ui-sref="PasswordChange"><i class="ic-lock-m"></i>비밀번호 변경</a></li>
				<li class="bg-arrow"><a class="waves-effect" ui-sref="NoticeSetting"><i class="ic-bell-m"></i>푸쉬 알림</a></li>
				<li class="bg-arrow"><a class="waves-effect" ui-sref="Customer"><i class="ic-tel-m"></i>고객센터</a></li>
			</ul>
		</div> 
		<div class="pa16"><button class="btn btn-bw4 waves-effect">로그아웃</button></div>
	</div>
</div>