.text-primary { color: #797b99 !important; }
.text-dgray{ color: #666666 !important; }
.text-gray{ color: #999999 !important; }
.text-red { color: #ec5040 !important; }
.text-blue { color: #507dba !important; }
.text-white { color: #ffffff !important; }
.btn:focus { box-shadow : none; }
.btn.btn-bw1 { background-color: #797b99; color: #ffffff; border-radius: 0px; width: 100%; height: 50px; font-size: 17px; }
.btn.btn-bw2 { background-color: #2c293c; color: #d3d1df; border-radius: 0px; width: 100%; height: 50px; font-size: 17px; }
.btn.btn-bw3 { background-color: #373447; color: #ffffff; border-radius: 0px; width: 100%; height: 50px; font-size: 17px; }
.btn.btn-bw4 { background-color: #ffffff; color: #ffffff; border-radius: 0px; width: 100%; height: 50px; font-size: 17px; color: #999999; }
.btn.btn-text{ background-color: transparent; color: #111111; font-size: 15px; font-weight: bold;}
.btn.btn-file{ background-color: #ffffff; height: 50px; display: block; border: 1px solid #d5d5d5; width: 100%; text-align: left; color: #999999; font-size: 14px; border-radius: 0px; position: relative; }
.btn.btn-file i{ position: absolute; right: 10px; }
.ic-lock{ background-image: url('../img/ic_lock.png'); width: 16px; height: 100%; background-repeat: no-repeat; background-size: 13px 19px; background-position: center;}
.ic-person{ background-image: url('../img/ic_person.png'); width: 16px; height: 100%; background-repeat: no-repeat; background-size: 16px 19px; background-position: center;}
.ic-sharp{ background-image: url('../img/ic_sharp.png'); width: 14px; height: 100%; background-repeat: no-repeat; background-size: 14px 17px; background-position: center; display: inline-block;}
.ic-sharp.on{ background-image: url('../img/ic_sharp_on.png'); }

.ic-home{ background-image: url('../img/ic_home.png'); width: 21px; height: 100%; background-repeat: no-repeat; background-size: 21px 20px; background-position: center; display: inline-block;}
.ic-back{ background-image: url('../img/ic_back.png'); width: 12px; height: 100%; background-repeat: no-repeat; background-size: 12px 21px; background-position: center; display: inline-block;}
.ic-tel{ background-image: url('../img/ic_tel.png'); width: 20px; height: 100%; background-repeat: no-repeat; background-size: 20px 20px; background-position: center; display: inline-block;}
.ic-fail{ background-image: url('../img/ic_fail.png'); width: 17px; height: 100%; background-repeat: no-repeat; background-size: 17px 16px; background-position: center; display: inline-block;}
.ic-menu{ background-image: url('../img/ic_menu.png'); width: 5px; height: 100%; background-repeat: no-repeat; background-size: 5px 19px; background-position: center; display: inline-block;}
.ic-pen{ background-image: url('../img/ic_pen.png'); width: 18px; height: 100%; background-repeat: no-repeat; background-size: 18px 18px; background-position: center; display: inline-block;}
.ic-talk{ background-image: url('../img/ic_talk.png'); width: 18px; height: 100%; background-repeat: no-repeat; background-size: 18px 18px; background-position: center; display: inline-block;}
.ic-wish{ background-image: url('../img/ic_wish.png'); width: 16px; height: 100%; background-repeat: no-repeat; background-size: 16px 14px; background-position: center; display: inline-block;}
.ic-cart{ background-image: url('../img/ic_cart.png'); width: 18px; height: 100%; background-repeat: no-repeat; background-size: 18px 16px; background-position: center; display: inline-block;}
.ic-won{ background-image: url('../img/ic_won.png'); width: 18px; height: 100%; background-repeat: no-repeat; background-size: 18px 18px; background-position: center; display: inline-block;}
.ic-camera{ background-image: url('../img/ic_camera.png'); width: 34px; height: 28px; background-repeat: no-repeat; background-size: 34px 28px; background-position: center; display: inline-block;}
.ic-camera-w{ background-image: url('../img/ic_camera_w.png'); width: 25px; height: 22px; background-repeat: no-repeat; background-size: 25px 22px; background-position: center; display: inline-block;}
.ic-arrow-up{ background-image: url('../img/arrow-up.png'); width: 16px; height: 10px; background-repeat: no-repeat; background-size: 16px 10px; background-position: center; display: inline-block;}
.ic-bell-m{ background-image: url('../img/ic_bell_m.png'); width: 18px; height: 18px; background-repeat: no-repeat; background-size: 18px 18px; background-position: center; display: inline-block;}
.ic-lock-m{ background-image: url('../img/ic_lock_m.png'); width: 14px; height: 20px; background-repeat: no-repeat; background-size: 14px 20px; background-position: center; display: inline-block;}
.ic-home-m{ background-image: url('../img/ic_home_m.png'); width: 19px; height: 18px; background-repeat: no-repeat; background-size: 19px 18px; background-position: center; display: inline-block;}
.ic-tel-m{ background-image: url('../img/ic_tel_m.png'); width: 19px; height: 19px; background-repeat: no-repeat; background-size: 19px 19px; background-position: center; display: inline-block;}
.ic-trash{ background-image: url('../img/ic_trash.png'); width: 19px; height: 23px; background-repeat: no-repeat; background-size: 19px 23px; background-position: center; display: inline-block;}
.ic-clip{ background-image: url('../img/ic_clip.png'); width: 23px; height: 20px; background-repeat: no-repeat; background-size: 23px 20px; background-position: center; display: inline-block;}
.ic-left-light{ background-image: url('../img/ic_left_light.png'); width: 22px; height: 33px; background-repeat: no-repeat; background-size: 22px 33px; background-position: center; display: inline-block;}
.ic-right-light{ background-image: url('../img/ic_right_light.png'); width: 22px; height: 33px; background-repeat: no-repeat; background-size: 22px 33px; background-position: center; display: inline-block;}
.ic-right-light{ background-image: url('../img/ic_right_light.png'); width: 22px; height: 33px; background-repeat: no-repeat; background-size: 22px 33px; background-position: center; display: inline-block;}
.ic-dismiss{ background-image: url('../img/ic_dismiss.png'); width:17px; height: 17px; background-repeat: no-repeat; background-size: 17px 17px; background-position: center; display: inline-block;}
.ic-close{ background-image: url('../img/ic_x.png'); width:14px; height: 14px; background-repeat: no-repeat; background-size: 14px 14px; background-position: center; display: inline-block;}

.ic-complete{ margin-top: 4px; }
.ic-complete:before{ content: '완료'; font-size: 16px; color: #797b99; font-weight: bold; }

.ic-arrow-up.r180{ transform: rotate(180deg); }
.ic-arrow-up.r90{ transform: rotate(90deg); }

.anim{ transition: all ease 0.6s; overflow: hidden;}
.anim.anim-slow{ transition: all ease 1.2s; }
.anim.anim-quick{ transition: all ease 0.3s;}
.anim.grow{ transition-property: height,width;  }
.anim.grow.ng-hide{ height: 0px; border: 0px;}
.clear-transition{ transition: unset !important; }

.waves-effect{position:relative;cursor:pointer;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;vertical-align:middle;z-index:1;/*will-change:opacity, transform;*/}
.waves-effect .waves-ripple{position:absolute;border-radius:50%;width:20px;height:20px;margin-top:-10px;margin-left:-10px;opacity:0;background:rgba(0, 0, 0, .1);transition:all 0.7s ease-out;-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);pointer-events:none}
.waves-notransition{-webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;-ms-transition:none !important;transition:none !important}
.waves-circle{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-mask-image:-webkit-radial-gradient(circle, white 100%, black 100%)}
.waves-input-wrapper{border-radius:0.2em;vertical-align:bottom}
.waves-input-wrapper .waves-button-input{position:relative;top:0;left:0;z-index:1}
.waves-circle{text-align:center;width:2.5em;height:2.5em;line-height:2.5em;border-radius:50%;-webkit-mask-image:none}
.waves-block{display:block}
.btn.btn-bw1.waves-effect .waves-ripple { background-color: rgba(176, 179, 220, 0.45); }
.btn.btn-bw2.waves-effect .waves-ripple { background-color: rgba(152, 145, 189, 0.45); }
.btn.btn-bw3.waves-effect .waves-ripple { background-color: rgba(152, 145, 189, 0.45); }

   
html,body{ height: 100%;  font-family: Nanum Barun Gothic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; -webkit-overflow-scrolling:auto; overflow: hidden;} 
div,label,span,h1,h2,h3,h4{ color: #111111; margin: 0;}
p{ color: #111111; margin-bottom: 10px; }
dl,dd{ margin: 0; } ul{ margin: 0; padding: 0;} li{ list-style: none; }
a:hover{ text-decoration: none ; }

.text-ellipsis{ white-space: nowrap;  overflow: hidden; text-overflow: ellipsis; }
hr.bline{ width: 100%; height: 6px; margin: 0; background-color: #e0e0e0; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;}
hr.sline{ width: 100%; border-top: 1px solid #eaeaea; margin: 0;}
hr.sline2{ width: 100%; border-top: 1px solid #dedede; margin: 0;}
.vline{ height: 100%; background-color: #eaeaea; width: 1px; } 
span.divide{ color: #d0d0d0; font-size: 11px; padding: 0 5px; font-weight: normal !important;}
span.divide.primary{ color: #9396bc;}

.img-wrapper {position: relative; width: 75px; height: 75px;}
.img-wrapper img{ left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; position: absolute;}
.img-wrapper .img-cnt{ color: #ffffff; position: absolute;  text-align: center; font-size: 14px; font-weight: bold; width: 100%; line-height: 75px; display: none;}
.img-wrapper .dim{ width: 100%; height: 100%; content: ''; background: #0000004C; display: block; position: absolute; display: none;}
.img-wrapper.many .img-cnt{ display: block; }
.img-wrapper.many .dim{ display: block; }

section.header{ height: 53px;  border-bottom: 1px solid #e0e0e0; width: 100%; background-color: #ffffff;}
section.header .logo img{ display: block; margin: 0 auto;}
section.header .logo{ position: absolute; width: 100%; top: 18px;}
section.header .btn-icon,.nav nav .btn-icon{ position: absolute; width: 53px; height: 53px; background-color: transparent; padding: 0;}
section.header .btn:nth-child(1){ left: 0; }
section.header .btn:nth-child(3){ right: 0; } 


section.nav + .container{ padding-top: 53px;}
section.text-btn-nav .btn.nav-right-btn{ width: 63px;}
bs-header{ position: fixed; width: 100%;  z-index: 100;}
bs-header + section.nav{ padding-top: 53px;}
bs-header + section.nav + .container{ padding-top: 107px;}
bs-header + .tab-category{ padding-top: 53px; border-bottom: 1px solid #d5d5d5; } 
bs-header + .tab-category + .container{ padding-top: 98px; }
.container{ height: 100%; padding: 0; width: 100% !important; max-width: 100% !important; overflow-y: auto;  background-color: #e0e0e0; -webkit-overflow-scrolling: touch; }
.ct{ min-height: calc(100% - 7px);  background-color: #e0e0e0; margin-top: 7px; border-top: 1px solid #d5d5d5; }
.ct.no-ma{ margin-top: 0px; border-top: none; }


.btn-ripple{ width: 100%; height: 100%; display: block;}
.material-input{ border: 1px solid #d5d5d5; height: 50px; margin-bottom: 10px; position: relative;}
.material-input input{ border: none; font-size: 14px; width: 100%; padding: 23px 10px 0; color: #111111; background-color: transparent;}
.material-input label{ font-size: 14px; top: 15px; left: 10px;}
.material-input .bar,.material-input .highlight{ display: none; }
.material-input input:focus ~ label, .material-input input:valid ~ label,.material-input input:disabled ~ label{ top:7px; font-size:11px; color: #999; }
.material-input.success{ background-color: #e0e0e022; }
.material-input.fail{  background-color: #df517211; border: 1px solid #df5172; }
.material-input:not(.type-sms).fail:after{ content: ''; background-image: url('../img/ic_fail.png'); width: 17px; height: 100%; background-repeat: no-repeat; background-size: 17px 16px; background-position: center; display: inline-block; position: absolute; right: 14px; top: 0; }
.material-input.fail input{ padding-right: 40px; }
.material-input .btn.btn-text{ position: absolute; right: 0px; top: 0px; line-height: 50px; padding: 0 13px; }
.material-input.type-sms input{ padding-right: 110px; }

.switch-input { display: none; }
.switch-label{position:relative;display:inline-block;cursor:pointer;font-weight:500;text-align:left;margin:16px;}
.switch-label:before,.switch-label:after{content:"";position:absolute;margin:0;outline:0;top:50%;-ms-transform:translate(0,-50%);-webkit-transform:translate(0,-50%);transform:translate(0,-50%);-webkit-transition:all .3s ease;transition:all .3s ease}
.switch-label:before{left:1px;width:44px;height:19px;background-color:#e8e8e8;border-radius:10px}
.switch-label:after{left:0;width:24px;height:24px;background-color:#ffffff;border-radius:50%;box-shadow:0 3px 1px -2px rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.098),0 1px 5px 0 rgba(0,0,0,0.084)}
.switch-label .toggle--on{display:none}
.switch-label .toggle--off{display:inline-block}
.switch-input:checked + .switch-label:before{background-color:#797b99}
.switch-input:checked + .switch-label:after{background-color:#ffffff;-ms-transform:translate(90%,-50%);-webkit-transform:translate(90%,-50%);transform:translate(90%,-50%)}
.switch-input:checked + .switch-label .toggle--on {display: inline-block;}
.switch-input:checked + .switch-label .toggle--off {display: none;}


.form-help{ font-size: 12px; }
.form-help.danger{ color: #df5172; }
.form-help.primary{ color: #797b99; }
.form-control.form-bw { border: 1px solid #d5d5d5; border-radius: 0px; resize: none; box-shadow: none; font-size: 14px; color: #111111; padding: 10px; }
.form-control.form-bw::-webkit-input-placeholder{ color: #999999; }
.checkbox{ position: relative; }
.checkbox .xi-check{  border: 1px solid #d5d5d5; padding: 4px; margin-right: 8px; position: absolute; margin-left: -35px; top: 0;}
.checkbox input:checked + i.xi-check { background-color: #797b99; color: #fff; border: 1px solid #797b99;}
.checkbox input{ display: none; }
.checkbox label{ font-size: 14px; margin: 0;  padding-left: 35px; line-height: 24px;}
.checkbox.large label{ font-size: 15px; font-weight: bold;}
.radio label{ font-size : 14px; padding-left: 32px; line-height: 22px; position: relative;}
.radio label i{ content: ''; width: 22px; height: 22px; border: 1px solid #d5d5d5; display: block; border-radius: 50px; position: absolute; margin-left: -32px; top: 0; padding: 5px;}
.radio label:nth-child(2n) { margin-left: 30px; }
.radio label input{ display: none; }
.radio label input:checked + i:before{ content: ''; background-color: #373447; display: block; width: 100%; height: 100%; border-radius: 30px;}
.view-link{ font-size:  14px; font-weight: bold; color: #373447; border-bottom: 1px solid #373447; float: right; line-height: 15px; }
.round{ width: 77px; height: 77px; display: inline-block; background-color: #f5f5f5; border-radius: 100px; line-height: 75px;}
section.nav{ position: fixed; width: 100%; background-color: #ffffff; z-index: 50; }
section.nav nav {width: 100%; height: 53px; border-bottom: 1px solid #d5d5d5;}
section.nav nav .tit{ font-size: 17px; position: absolute; text-align: center; width: 100%; line-height: 53px; font-weight: bold;}
section.nav .btn.nav-right-btn{ right: 0; }
nav.tab-category{ position: fixed; z-index: 50;}
nav.tab-category ul{ display: table; height:  41px;  table-layout: fixed; width: 100%; background-color: #fff;}
nav.tab-category ul li{ display: table-cell; text-align: center; }
nav.tab-category ul li a{ display: block; font-size: 15px;}
nav.tab-category ul li a span{ height: 100%; padding: 10px 0 10px; display: inline-block;}
nav.tab-category ul li.active a span{ border-bottom: 3px solid #000000; }

.thumb-round{ width: 43px; height: 43px; background-image: url('../img/_temp/logo.jpg'); background-size: cover; border-radius: 50%; vertical-align: middle;}
.bg-arrow{ position: relative; }
.bg-arrow:after{ content: ''; background-image: url('../img/ic_arrow.png');  width: 9px; height: 100%;  background-size: 9px 16px; background-repeat: no-repeat; background-position: center; position: absolute; right: 10px; top: 0;}
.bg-white{ background-color: white; }
.prd-reg{ height: 69px; line-height: 69px; padding: 0 16px; display: block; background-color:#ffffff; border-bottom: 1px solid #d5d5d5;}
.prd-reg span{ margin-left: 13px; font-size: 14px; color: #999999; }

.prd-lst .prd-row { padding-top: 14px; background-color:#ffffff; margin-bottom: 6px; border-top: 1px solid #d5d5d5;}
.prd-lst .prd-row.sold-out .prd-img:after{ content: '품절 상품'; position: absolute; width: 100%; height: 100%; color: #ffffff; font-size: 15px; background-color: #00000078;  text-align: center; padding-top: 49%;}

.prd-usr{ position: relative; height: 43px; width: 100%; }
.prd-usr i.thumb-round{ position: absolute; left: 16px; }
.prd-usr .brand{ width: 100%; padding-left: 72px; padding-right: 53px; position: absolute; top: 2px;}
.prd-usr .brand span { display: block; }
.prd-usr .brand-nm{ font-size: 15px; font-weight: bold;  }
.prd-usr .brand-date{ font-size: 12px; color: #999999; }
.prd-usr .prd-menu{ width: 43px; height: 43px; position: absolute;  right: 0; text-align: center; }

.prd-lst .prd-row .prd-contents{ padding-left: 16px; padding-top: 13px; padding-right: 46px; font-size: 14px; }
.prd-tag{ padding: 0 16px;  font-weight: bold; margin-top: 20px; font-size: 14px;}
.prd-tag a{ font-weight: normal; color: #999999; padding-left: 3px;}

.prd-img{ width: 100%; padding-bottom: 100%; position: relative;}
.prd-img img{  width: 100%; height: 100%; object-fit: cover; position: absolute;}
.prd-img.img-1 img{ display: none; }
.prd-img.img-1 img:nth-child(1) { display: inline-block; }

.prd-img.img-2 img:nth-child(1) { width: 49.5%; }
.prd-img.img-2 img:nth-child(2) { width: 49.5%; left: 50.5%; }
.prd-img.img-2 img:nth-child(3) { display: none; }
.prd-img.img-2 img:nth-child(4) { display: none; }

.prd-img.img-3 img:nth-child(1) { height: 66%; }
.prd-img.img-3 img:nth-child(2) { width: 49.5%; height: 33%; top: 67%; }
.prd-img.img-3 img:nth-child(3) { width: 49.5%; height: 33%; top: 67%; left: 50.5%; }
.prd-img.img-3 img:nth-child(4) { display: none; }

.prd-img.img-4 img:nth-child(1) { height: 66%; }
.prd-img.img-4 img:nth-child(2) { width: 32.5%; height: 32.5%; top: 67.5%; }
.prd-img.img-4 img:nth-child(3) { width: 32.5%; height: 32.5%; top: 67.5%; left: 33.75%; }
.prd-img.img-4 img:nth-child(4) { width: 32.5%; height: 32.5%; top: 67.5%; left: 67.5%; }


.prd-ft{ height: 51px; padding-right: 16px; }
.prd-ft .prd-fc{float: left; height: 100%;}
.prd-ft .prd-fc a:nth-child(1){ display: inline-block; height: 100%; line-height: 51px; color: #111111; font-size: 14px; font-weight: bold; padding-left: 16px; padding-right: 8px;}
.prd-ft .prd-fc a:nth-child(2){ display: inline-block; height: 100%; line-height: 51px; color: #111111; font-size: 14px; font-weight: bold; padding-left: 8px; padding-right: 8px;}
.prd-ft .prd-fc i{ vertical-align: middle; margin-top: -2px; margin-right: 4px;}
.prd-ft .prd-price{float: right; font-size: 14px; font-weight: bold; line-height: 51px;}
.prd-stat {  height: 53px; border-bottom: 1px solid #d5d5d5;} 
.prd-stat ul { display: table; background-color: #efefef; width: 100%; height: 100%; text-align: center; font-size: 13px; border-top: 1px solid #d5d5d5;  border-bottom: 1px solid #d5d5d5;  color: #999999; }
.prd-stat ul li{  display: table-cell; vertical-align: middle; text-align: center; }
.prd-stat ul li i{ height: 18px;  vertical-align: middle; margin-top: -3px; margin-right: 7px;}

.bbs-lst .bbs-row{ padding: 16px; border-bottom: 1px solid #d5d5d5; background-color: #ffffff;}
.bbs-lst .bbs-row .bbs-req{ display: table;  }
.bbs-lst .bbs-row .bbs-req .bbs-person{  display: table-cell; width: 43px; height: 43px; object-fit: cover; vertical-align: top;}
.bbs-lst .bbs-row .bbs-req .bbs-tc{ display: table-cell; vertical-align: top; padding: 0 14px;}
.bbs-lst .bbs-row .bbs-tc b{ font-size: 15px; }
.bbs-lst .bbs-row .bbs-tc p{ font-size: 14px; margin-bottom: 5px;}
.bbs-lst .bbs-row .bbs-req .bbs-pic { display: table-cell;  vertical-align: top; }
.bbs-lst .bbs-row .bbs-req .bbs-pic .img-wrapper{  width: 57px; height: 57px; }
.bbs-lst .bbs-row .bbs-req .bbs-pic .img-wrapper .img-cnt{  line-height: 57px; }
.bbs-lst .bbs-row .bbs-req-ft,.bbs-lst .bbs-row .bbs-resp-ft{ font-size: 12px; padding-left: 56px; }
.bbs-lst .bbs-row .bbs-req-ft:before{ content: '😅'; padding-right: 3px; }
.bbs-lst .bbs-row .bbs-req-ft a{ display: none; }
.bbs-lst .bbs-row .bbs-req-ft span.divide:nth-child(3){ display: none; }
.bbs-lst .bbs-row .bbs-resp .bbs-tc{ padding-left: 57px; margin-top: 13px;}
.bbs-lst .bbs-row.no-req .bbs-resp{ display: none; }
.bbs-lst .bbs-row.no-req { background-color: #fff3f3; }
.bbs-lst .bbs-row.no-req .bbs-req-ft a{ display: inline; }
.bbs-lst .bbs-row.no-req .bbs-req-ft span.divide:nth-child(3){ display: inline; }

.menu-lst ul{  border-top: 1px solid #d5d5d5; }
.menu-lst ul li{ height: 53px; background-color: #ffffff; border-bottom: 1px solid #d5d5d5; line-height: 53px; font-size: 14px; position: relative;}
.menu-lst ul li a:first-child{ display: block; height: 100%; padding: 0 16px; color: #111111;}
.menu-lst ul li a:first-child i{ vertical-align: middle; margin-top: -3px; margin-right: 10px; }
.menu-lst ul li a.opt-r{ position: absolute; }

.answer-bt{ display: block; position: fixed; bottom: 0; width: 100%; min-height: 73px; vertical-align: middle; border-top: 1px solid #d5d5d5;}
.answer-bt > div:nth-child(1){ padding-left: 16px;  padding-right: 10px; }
.answer-bt > div:nth-child(2){ width: calc(100% - 80px); }
.answer-bt > div{ display: inline-block; height: 100%; vertical-align: middle; box-sizing: border-box; padding: 13px 0;}
.answer-bt a{ display: block; height: 100%;}
.answer-bt a i { margin-top: 6px; }
.answer-bt .answer-ed-wrap{  border-radius: 40px; border: 1px solid #d5d5d5; width: 100%; min-height: 46px; padding: 11px; }
.answer-textarea { width: 100%; font-size: 14px; color: #999999; border: none; padding: 0; outline: none; background: transparent; height: 18px;  resize: none;  }

.top-stat { width: 100%; }
.top-stat ul{ display: table; table-layout: fixed; width: 100%; }
.top-stat li{ display: table-cell; text-align: center;  border-right: 1px solid #dedede;}
.top-stat li:last-child{ border: none; }
.top-stat li a{ font-size: 13px; display: block; height: 100%; padding: 16px 0; line-height: 1.5; background: #fafafa;}
.top-stat li.active a{ background: #ffffff; }
.top-stat li a b{ font-weight: bold; font-size: 20px; color: #797b99; }
.top-stat li a span{ font-size: 13px; color: #999999; margin-left: 2px; }
.ord-lst .ord-row{ border-bottom: 1px solid #d5d5d5; background-color: #ffffff; }
.ord-lst .ord-row a{ padding: 16px; display: block; height: 100%; position: relative; height: 108px; font-size: 12px;}
.ord-lst .ord-row a > div{ line-height: 1.4; }
.ord-lst .ord-row.many a:after{ content: ''; width: 75px; height: 75px; position: absolute; }
.ord-lst .ord-row .ord-lt{ display: inline-block; vertical-align: middle;}
.ord-lst .ord-row .ord-rt{ margin-left: 16px; display: inline-block; vertical-align: middle; width: calc(100% - 107px);}
.ord-lst .ord-row .ord-stat{ color: #797b99; font-weight: bold; }
.ord-lst .ord-row .ord-num{ font-weight: bold; font-size: 14px; }
.ord-lst .ord-row .ord-prd{ font-size: 13px; }
.ord-lst .ord-row .ord-ft{ color: #999999; margin-top: 6px;}
.ord-lst .ord-row .ord-ft span.usr-id{ color: #999999; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block; vertical-align: middle;}

.ord-lst-sm .ord-row{ position: relative; padding: 10px; height: 97px; background-color: #ffffff;}
.ord-lst-sm .ord-row img{ width: 65px; height: 65px; position: absolute;}
.ord-lst-sm .ord-row .ord-rt{ position: absolute; padding-left: 81px; width: 100%; left: 0; top: 28px;}
.ord-lst-sm .ord-row .ord-tit{ padding: 0 16px; font-size: 13px;}
.ord-lst-sm .ord-row .ord-prd{ padding: 0 16px; font-size: 14px; font-weight: bold;}
.ord-lst-sm .ord-row:after{ position: absolute; bottom: 0; left: 16px; right: 16px; width: auto; border-bottom: 1px solid #eaeaea; content: '';}
.ord-stat-frm{  height: 79px; line-height: 79px; border-bottom: 1px solid #d5d5d5; }
.ord-stat-frm .vline{  margin: 0 10px; display: inline-block; vertical-align: middle; height: 46px;}  
.ord-stat-frm select.form-control:not([size]):not([multiple]){ margin-left: 16px; height: 46px; width: calc(100% - 143px); display: inline-block; vertical-align: middle; border-radius: 0px; border: 1px solid #d5d5d5; font-size: 14px;}

.ord-stat-frm .btn.btn-bw3{ width: 82px; height: 46px; font-size: 14px; font-weight: normal; display: inline-block;}

.box{ border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
.box .box-hd{  height: 50px; border-bottom: 1px solid  #d5d5d5; padding: 0 16px; background-color: #f9f9f9;}
.box .box-hd h4{  font-size: 15px; font-weight: bold; float: left; line-height: 50px;}
.box .box-hd .box-hd-op{ float: right;}
.box .box-hd .box-hd-op span{ font-size: 14px;line-height: 50px; color: #797b99; font-weight: bold;}
.box .box-hd .box-hd-op button{ background: transparent; border: none; font-size: 13px; padding: 0; height: 50px; display: inline-block; color: #666666;}
.box .box-ct{ clear: both; }
.box .box-ct dl{ font-size: 0; } 
.box .box-ct dt{ display: inline-block; width: 110px; padding: 16px; font-size: 13px; vertical-align: top;}
.box .box-ct dd{ display: inline-block;  width: calc(100% - 120px); padding: 16px; color: #666666; word-wrap: break-word; font-size: 13px; vertical-align: top; position: relative;}
.box .box-ct dl dd:after{ border-bottom: 1px solid #eaeaea; content: '';  width: calc(100% + 84px); display: block; position: absolute; bottom: 0; left: -94px;}
.box .box-ct dl dd:last-child:after{ border:none; }
.box .box-ct dd a{ margin: -16px; padding: 16px; }


.box .box-ft{ clear: both; height: 63px; padding: 0 16px;}
.box .box-ft > div{ line-height: 63px; font-weight: bold;}
.box .box-ft > div.pull-left{ font-size: 14px; }
.box .box-ft > div.pull-right{ font-size: 17px; }
.box{ clear: both; }

.mbr-lst .mbr-row{ border-bottom: 1px solid #d5d5d5; background-color: #ffffff;}
.mbr-lst .mbr-row a {display: block; height: 100%; padding: 16px;}
.mbr-lst .mbr-row img{ width: 43px; height: 43px; object-fit: cover; display: inline-block; vertical-align: middle; margin-right: 10px; }
.mbr-lst .mbr-row .mbr-rt{ display: inline-block; vertical-align: middle; font-size: 14px; width: calc(100% - 70px)}
.mbr-lst .mbr-row .mbr-rt > div { width: 100%; }
.mbr-lst .mbr-row .mbr-nm span{ font-weight: normal;}
.mbr-lst .mbr-row .mbr-pro{ font-size: 12px; color: #999999; }

.mbr-pro-box{ background-color: white; height: 192px; text-align: center; padding-top: 27px;}
.mbr-pro-box img{ width: 86px; height: 86px; object-fit: cover; }

.dl-lst dl{ background-color: white; font-size: 0; }
.dl-lst dl dt:nth-child(1),.dl-lst dl dd:nth-child(2){ border-top: 1px solid #d5d5d5;;}
.dl-lst dl dt{ width: 90px; padding: 20px 16px; display: inline-block;font-size: 13px;}
.dl-lst dl dd{ width: calc(100% - 90px); padding: 20px 16px; display: inline-block; font-size: 13px; position: relative;}
.dl-lst dl dd:after{ border-bottom: 1px solid #d5d5d5; content: '';  width: calc(100% + 90px); display: block; position: absolute; bottom: 0; left: -90px;}
.dl-lst dl dd a.pull-right{ margin: -20px -16px; padding: 20px 16px;  }
.dl-lst dl dd a i{ margin-left: 10px; }

.cfg-pro-box{ background-color: white; height: 207px; text-align: center; padding-top: 27px;}
.cfg-pro-box .img-wrapper { width: 123px; height: 123px; margin: 0 auto; overflow: hidden;}
.cfg-pro-box .img-wrapper .dim{ display: block; margin-top: 79px; }
.cfg-pro-box .img-wrapper i.ic-camera-w{ padding: 20px; position: absolute; bottom: 3px; left: 42px; }
.menu-sw-lst ul li{ height: 73px; display: block;  border-bottom: 1px solid #d5d5d5; padding: 0 16px; padding-top: 16px; position: relative;}
.menu-sw-lst ul li .switch-wrap{ position: absolute;top:18px;right: 42px; }

.csm-lst ul li{ background-color: #ffffff; display: block; font-size: 0; border-top: 1px solid #d5d5d5;}
.csm-lst ul li:last-child{ border-bottom: 1px solid #d5d5d5; }
.csm-lst ul li a{ display: block; height: 100%; padding: 0 16px; height: 63px; }
.csm-lst ul li .csm-desc img{ width: 31px; height: 31px; object-fit: cover; margin-right: 5px; margin-top: -5px; }
.csm-lst ul li .csm-desc > div:nth-child(1){ float: left; width: calc(100% - 95px); vertical-align: middle; line-height: 63px; padding-right: 30px; }
.csm-lst ul li .csm-desc > div:nth-child(2){ float: left; width: 95px; vertical-align: middle; line-height: 63px;}
.csm-lst ul li .csm-desc > div:nth-child(2) span{ display: inline-block; height: 100%; }
.csm-lst ul li .csm-det{ background-color: #797b99; height: 0; overflow: hidden; transition: height ease-in-out 0.4s;}
.csm-lst ul li.open .csm-det{ height: auto; } 
.csm-lst ul li .csm-det img{ width: 43px; height: 43px; object-fit: cover; }
.csm-lst ul li .csm-det .csm-req{ padding: 22px 16px; }
.csm-lst ul li .csm-det .csm-req .pull-left:nth-child(1){ width: 43px; }
.csm-lst ul li .csm-det .csm-req .pull-left:nth-child(2){ width: calc(100% - 43px); position: relative; padding-left: 16px;}
.csm-lst ul li .csm-det .csm-req .pull-left:nth-child(2):before{ content: ''; display: inline-block; background: url('../img/ballon_l.png'); background-size: 11px 15px; width: 11px; height: 15px; background-repeat: no-repeat; position: absolute; left: 5px; top: 39px; }
.csm-lst ul li .csm-det .csm-req .pull-left:nth-child(2) > div:nth-child(1) {  } 
.csm-lst ul li .csm-det .csm-req .pull-left:nth-child(2) > div:nth-child(2) { background-color: #fffabe;  border-radius: 8px; padding: 12px;} 
 
.csm-lst ul li .csm-det .csm-resp{ padding: 0 22px 16px; clear: left;}
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(1){ width: 43px; }
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2) > div:nth-child(1) { text-align: right; } 
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2) > div:nth-child(2) { float: right; } 
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2){ width: calc(100% - 43px); position: relative; padding-right: 16px; }

.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2):before{ content: ''; display: inline-block; background: url('../img/ballon_r.png'); background-size: 11px 15px; width: 11px; height: 15px; background-repeat: no-repeat; position: absolute; right: 5px; top: 39px; }
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2) > div:nth-child(1) {  } 
.csm-lst ul li .csm-det .csm-resp .pull-right:nth-child(2) > div:nth-child(2) { background-color: #ffffff;  border-radius: 8px; padding: 12px;} 

.file-lst ul li {border : 1px solid #d5d5d5; padding-left: 10px; padding-right: 30px; color: #999999; font-size: 14px; margin-bottom: 10px; line-height: 50px; position: relative;}
.file-lst ul li:last-child { margin-bottom: 0px; }
.file-lst ul li a{ position: absolute; padding: 0 10px; right: 0; vertical-align: top; height: 100%;}
.file-lst ul li a i{ vertical-align: middle; }

.lightbox{ background-color: #000; left: 0; right: 0; top: 0; bottom: 0; position: absolute;}
.lightbox img{width: 100%;}
.lightbox a{ position: absolute; right: 0; padding: 17px; z-index: 20; }
.lightbox .swiper-button-next{ position: absolute; top: calc(50% - 20px); z-index: 10; left: 13px; }
.lightbox .swiper-button-prev{ position: absolute; top: calc(50% - 20px); z-index: 10; right: 13px;}
 
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background-color: transparent; display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center; background:transparent;}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}

.photo-lst {overflow: hidden;}
.photo-lst li img{ width: 100%; }
.photo-lst li{ margin-bottom: 7px; position: relative;}
.photo-lst li:last-child{ margin-bottom: 0;  }
.photo-lst li a{ width:27px; height : 27px; position: absolute; top: 14px;  right: 14px; content: ''; background-color: rgba(0,0,0,0.1); border-radius: 50%; padding: 0; text-align: center;}
.photo-lst li a i{ vertical-align: middle; }
.photo-row{width: 100%; }
.photo-row img { width: 100%; }


ui-view.view { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
ui-view.view.ng-enter { -webkit-animation-name: slideInRight; animation-name: slideInRight; -webkit-animation-duration: 400ms; animation-duration: 400ms;}
ui-view.view.ng-leave { -webkit-animation-name: slideOutLeft; animation-name: slideOutLeft; -webkit-animation-duration: 400ms; animation-duration: 400ms;}

ui-view.view.back.ng-enter { -webkit-animation-name: slideInLeft; animation-name: slideInLeft; -webkit-animation-duration: 400ms; animation-duration: 400ms;}
ui-view.view.back.ng-leave { -webkit-animation-name: slideOutRight; animation-name: slideOutRight; -webkit-animation-duration: 400ms; animation-duration: 400ms; }
 

body.LightBox ui-view.view.ng-enter { -webkit-animation-name: fadeIn; animation-name: fadeIn; z-index: 10000;}
body.LightBox ui-view.view.ng-leave { -webkit-animation: unset; -webkit-animation: unset; }
body.LightBox ui-view.view.back.ng-enter { -webkit-animation: unset; animation: unset;}
body.LightBox ui-view.view.back.ng-leave { -webkit-animation-name: fadeOut; animation-name: fadeOut; -webkit-animation-duration: 500ms; animation-duration: 500ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 10000;}

 
#login-page{ background-color: #373447; height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; }
#login-page .logo{ width: 100%; height: 185px; }
#login-page .logo img{ display: block; margin: 0 auto;  padding-top: 90px;}
#login-page form { padding: 0 50px; }
#login-page .btn.btn-bw1{ margin-top: 26px; }
#login-page .btn.btn-bw2{ margin-top: 10px; }
#login-page .fd-pw{ color: #afacbf; text-align: center; margin-top: 53px; font-size: 14px;}
#login-page .fd-pw a{ color: #ffffff; font-size: 14px; text-decoration: underline; margin-left: 4px;}
#login-page .input-group.input-login{ position: relative; }
#login-page .input-group.input-login .input-group-icon{ position: absolute; left: 0px; }
#login-page .input-group.input-login input{ padding-left: 35px; background-color: transparent; border: none;  border-bottom: 1px solid #555265; color: #afacbf; font-size: 14.6667px; height: 53px;}
#login-page .input-group.input-login input:focus{ box-shadow: none; }
#customer-write textarea{  }

#prd-reg .preg-body { height: 100%; padding-bottom: 70px;  z-index: 1; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.form-control.form-bw.prd-reg-textarea{ resize: none; border:none; width: 100%; font-size: 15px; padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 13px; }

#prd-reg .prd-img{ margin-bottom: 12px; }
#prd-reg .preg-price{ padding: 13px; background-color: #efefef; position: relative; border-top: 1px solid #d5d5d5; width: 100%; }
#prd-reg .preg-price input{ height: 47px; text-align: right; padding-left: 30px;}  
#prd-reg .preg-price:before{ content: '￦'; position: absolute; height: 100%; line-height: 73px; top: 0; left: 27px; font-weight: bold;}
#prd-reg .preg-bottom{ height: 70px;  border-top: 1px solid #d5d5d5; position: fixed; bottom: 0; z-index: 10; background-color: #fff; }
#prd-reg .preg-bottom ul { display: table;  table-layout: fixed; width: 100%; height: 100%;}
#prd-reg .preg-bottom ul li { display: table-cell; vertical-align: middle; text-align: center;}
#prd-reg .preg-bottom ul li a{ font-size: 15px; }
#prd-reg .preg-bottom ul li a:before{ vertical-align: middle; background-repeat: no-repeat; background-position: center; display: inline-block;  border-radius: 50%; border: 1px solid #d5d5d5; margin-right: 9px;}
#prd-reg .preg-bottom ul li a.camera:before{ content: ''; background-image: url('../img/ic_camera_pro.png'); width:43px; height: 43px; background-size: 23px 19px; }
#prd-reg .preg-bottom ul li a.album:before{ content: ''; background-image: url('../img/ic_album_pro.png'); width:43px; height: 43px; background-size: 21px 21px;}
#prd-reg .preg-bottom ul li a.sharp:before{ content: ''; background-image: url('../img/ic_sharp_pro.png'); width:43px; height: 43px; background-size: 11px 15px;}
#prd-reg .prd-tag{  margin-bottom: 10px; }

.sharp-main-lst{ position: fixed; top: 53px; height: calc(100% - 53px); background-color: rgba(255,255,255,0.98); width: 100%; z-index: 10000; overflow: hidden;}
.sharp-main-lst ul{ padding: 23px 13px; font-size: 0; }
.sharp-main-lst ul li{ display: inline-block; margin-right: 10px; margin-bottom: 10px;}
.sharp-main-lst ul li:last-child{ margin-right: 0; margin-bottom: 0;}
.sharp-main-lst ul li a{ padding: 10px 15px; background-color: #e6e6ec; display: inline-block; font-size: 14px; color: #000000;}
.sharp-main-lst ul li a:before{ content: '#'; color: #000000; }

.sharp-main-lst{ -webkit-animation-name: fadeIn; animation-name: fadeIn; }
.sharp-main-lst ul {  -webkit-animation-name: fadeInDown; animation-name: fadeInDown;  -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.sharp-main-lst.ng-hide{ -webkit-animation-name: fadeOut; animation-name: fadeOut;  -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.sharp-main-lst.ng-hide ul{ -webkit-animation-name: fadeOutUp; animation-name: fadeOutUp; -webkit-animation-delay: 0s; animation-delay: 0s;}


#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul{ font-size: 0; }
#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul li{ font-size: 15px; display: inline-block; padding-right: 5px; max-width: 100%; overflow: hidden; vertical-align: top;}
#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul li.field{ margin-left: -5px; padding-left: 5px; position: relative;}
#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul li.field:before{ content: '#';  position: absolute; left: 5px; }
#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul li input{ padding: 0px 0px 0px 12px; font-size: 15px; border:none; width: 40px;} 
#tag-modal.modal.modal-bw .modal-content .modal-body .tag-input ul li input:focus{ outline: none; box-shadow: none;}
#tag-modal.modal.modal-bw .modal-content .modal-body p{ font-size: 12px; color: #797b99; }
#tag-modal.modal.modal-bw .modal-content .modal-body .flow-view{font-size: 0;}
#tag-modal.modal.modal-bw .modal-content .modal-body .flow-view label{ background-color: #e6e6ec; color: #111111; font-size: 14px; padding: 10px 15px; margin-right: 10px; margin-bottom: 10px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; vertical-align: top;}
#tag-modal.modal.modal-bw .modal-content .modal-body .flow-view label:last-child{margin-right: 0; margin-bottom: 0;}


.modal.modal-bw .modal-dialog{ margin: 10px 23px;} 
.modal.modal-bw .modal-content{ border: none; }
.modal.modal-bw .modal-content .modal-header{ padding-top: 46px; padding-bottom: 13px;  border-bottom: none;}
.modal.modal-bw .modal-content .modal-header .modal-title {  font-size: 17px; font-weight: bold; margin: 0 auto; }
.modal.modal-bw .modal-content:after{ content: ''; background-image: url('../img/ic_sharp_modal.png'); width:45px; height: 45px; background-size: 12px 17px; background-repeat: no-repeat; background-position: center; border-radius: 50%; background-color: #797b99; top: -22px; left: calc(50% - 22px); position: absolute; }
.modal.modal-bw .modal-content .modal-body{ padding-top: 0; padding-bottom: 30px; }
.modal.modal-bw .modal-content .modal-body .message{ text-align: center; color: #888888; font-size: 15px; }
.modal.modal-bw .modal-content .modal-footer { border-top: none; padding: 0; border-top: 1px solid #dedede; height: 53px; }
.modal.modal-bw .modal-content .modal-footer button{ display: table-cell; margin: 0 !important; width: 50%; background-color: transparent; border-radius: 0; border-top: none; border-bottom: none; font-size: 15px; color: #111111; height: 100%; font-weight: bold;}
.modal.modal-bw .modal-content .modal-footer button:hover { border:none; box-shadow: none;}
.modal.modal-bw .modal-content .modal-footer button:nth-child(1){ border-left: none; border-right: 1px solid #dedede; }
.modal.modal-bw .modal-content .modal-footer button:nth-child(2){ border-left: none; border-right: none; }

@media screen and (min-width: 320px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 80px; }
}
@media screen and (min-width: 360px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 120px; }
}
@media screen and (min-width: 375px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 135px; }
}
@media screen and (min-width: 411px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 171px; }
}
@media screen and (min-width: 414px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 174px; }
}
@media screen and (min-width: 768px){
.ord-lst .ord-row .ord-ft span.usr-id {max-width: 528px; }
}
@media screen and (min-width: 1024px){
.ord-lst .ord-row .ord-ft span.usr-id {width: auto; }
}
/*
[nav-view-transition="ios"] [nav-view="entering"],[nav-view-transition="ios"] [nav-view="leaving"]{-webkit-transition-duration:500ms;transition-duration:500ms;-webkit-transition-timing-function:cubic-bezier(0.36,0.66,0.04,1);transition-timing-function:cubic-bezier(0.36,0.66,0.04,1);-webkit-transition-property:opacity,-webkit-transform,box-shadow;transition-property:opacity,transform,box-shadow}
[nav-view-transition="ios"][nav-view-direction="forward"],[nav-view-transition="ios"][nav-view-direction="back"]{background-color:#000}
[nav-view-transition="ios"] [nav-view="active"],[nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="entering"],[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="leaving"]{z-index:3}
[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="entering"],[nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="leaving"]{z-index:2}
[nav-view-transition="android"] [nav-view="entering"],[nav-view-transition="android"] [nav-view="leaving"]{-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-timing-function:cubic-bezier(0.4,0.6,0.2,1);transition-timing-function:cubic-bezier(0.4,0.6,0.2,1);-webkit-transition-property:-webkit-transform;transition-property:transform}
[nav-view-transition="android"] [nav-view="active"],[nav-view-transition="android"][nav-view-direction="forward"] [nav-view="entering"],[nav-view-transition="android"][nav-view-direction="back"] [nav-view="leaving"]{z-index:3}
[nav-view-transition="android"][nav-view-direction="back"] [nav-view="entering"],[nav-view-transition="android"][nav-view-direction="forward"] [nav-view="leaving"]{z-index:2}
[nav-view="cached"],[nav-bar="cached"]{display:none}
[nav-view="stage"]{opacity:0;-webkit-transition-duration:0;transition-duration:0}
.pane{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-duration:0;transition-duration:0;z-index:1}
.view{z-index:1}
.pane,.view{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-color:#fff;overflow:hidden}
.view-container{position:absolute;display:block;width:100%;height:100%}*/
