.material-input {  position:relative;  margin-bottom:45px; }
.material-input input { font-size:18px; padding:10px 10px 10px 5px; display:block; width:300px; border:none; border-bottom:1px solid #757575; }
.material-input input:focus { outline:none; }
.material-input label { color:#999; font-size:18px; font-weight:normal; position:absolute; pointer-events:none; left:5px; top:10px; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
.material-input input:focus ~ label, .material-input input:valid ~ label,.material-input input:disabled ~ label { top:-20px; font-size:14px; color:#5264AE; }
.material-input .bar   { position:relative; display:block; width:300px; }
.material-input .bar:before, .material-input .bar:after { content:''; height:2px; width:0; bottom:1px; position:absolute; background:#5264AE; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
.material-input .bar:before { left:50%; }
.material-input .bar:after { right:50%; }
.material-input input:focus ~ .bar:before, .material-input input:focus ~ .bar:after { width:50%; }
.material-input .highlight { position:absolute; height:60%;  width:100px; top:25%; left:0; pointer-events:none; opacity:0.5; }
.material-input input:focus ~ .highlight { -webkit-animation:inputHighlighter 0.3s ease; -moz-animation:inputHighlighter 0.3s ease; animation:inputHighlighter 0.3s ease; }
@-webkit-keyframes inputHighlighter { from { background:#5264AE; } to   { width:0; background:transparent; } }
@-moz-keyframes inputHighlighter { from { background:#5264AE; } to  { width:0; background:transparent; } }
@keyframes inputHighlighter { from { background:#5264AE; } to   { width:0; background:transparent; } }