<div id="tag-modal" class="modal modal-bw fade" tabindex="-1" role="dialog" aria-labelledby="tag-modal-tit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tag-modal-tit">알림!</h5>
      </div>
      <div class="modal-body">
         <div class="message">고객센터에 연결하시겠습니까?</div>
        <!-- <textarea class="form-control form-bw"></textarea> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary waves-effect">확인</button>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>