<div id="tag-modal" class="modal modal-bw fade" tabindex="-1" role="dialog" aria-labelledby="tag-modal-tit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tag-modal-tit">태그를 입력해주세요!</h5>
      </div>
      <div class="modal-body">
        <div class="tag-input">
          <ul>
              <li ng-repeat="item in modalValue.tags track by $index">#{{item}}</li>
              <li class="field">
                <input type="text" class="form-control" ng-model="modalValue.tag" 
                    ng-keyup="modalValue.tagKeyUp($event)"
                    ng-keydown="modalValue.tagKeyDown($event)" 
                    ng-change="modalValue.tagChange($event)" ng-blur="modalValue.tagBlur($event)" placeholder="태그" ng-trim="false">
              </li>
          </ul>
        </div>        
        <p class="mt10 mb10">입력하신 태그는 카테고리 분류 및 검색에 사용됩니다.</p>
        <hr class="sline2" ng-if="modalValue.history && modalValue.history.length == 0">
        <div class="flow-view mt13">
          <label ng-repeat="item in modalValue.history" ng-click="modalValue.historyClick(item)">#{{item}}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary waves-effect">확인</button>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>